body {
  background-image: url(newspaper1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container-fluid {
  text-align: left;
  width:1000px;
  margin:0 auto;
}

p {
  text-align: left;
}

.checkbox {
  margin-left: auto;
  text-align: left;
}
