<div class="login">
  <h1>Login to the Reporters Beat</h1>
  <form ng-submit="LoginFactory.addUser()" class="form-inline" role="form">
    <p><input type="text" ng-model="LoginFactory.userName" class="form-control" placeholder="Username or Email"></p>
    <p><input type="password" ng-model="LoginFactory.userPassword" value="" placeholder="Password"></p>
    <p class="remember_me">
      <div class="checkbox">
        <input type="checkbox" name="remember_me" id="remember_me">
        <label>
        Remember me on this computer
        </label>
      </div>
    </p>
    <div class="left">
      <button type="submit" class="btn btn-primary"><a ui-sref="addBeat">Submit</a></button>
    </div>
  </form>
</div>
